<h1>新しい商品を登録</h1>

<%= form_with model: @product, local: true do |form| %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price %>
  </div>

  <div class="actions">
    <%= form.submit '商品を登録' %>
  </div>
<% end %>

<%= link_to '商品一覧に戻る', products_path %>
